@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400');

/* General CSS */

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EAEAEA;
}

*:hover img {
    -webkit-transform: translateZ(0);
}

*:focus {
    outline: 0;
}

a:focus {
    outline: 0;
    outline-offset: 0;
    text-decoration: none;
}


/* Hidden Element */

.visual-hidden {
    border: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    font-size: 1px;
    position: absolute;
}


/* Bootstrap Edit */

.navbar {
    margin-bottom: 0;
}

.navbar-toggle {
    padding-top: 5px;
    padding-bottom: 4px;
    margin-top: 12px;
    margin-right: 25px;
}

.navbar-toggle .icon-bar {
    background-color: #FFF;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: #81BB41;
}

.dropdown-menu .divider {
    margin: 5px 0;
}


/* Custom CSS */


/*.eba-header .eba-logo svg {
    width: 65px;
    height: 43px;
}

.eba-header .eba-logo svg path {
    fill: #fff !important;
}*/

.eba-header {
    font-family: 'Oswald', sans-serif;
    background-color: #81BB41;
    min-height: 66px;
    padding: 6px 0;
    border-bottom: 2px dotted #212121;
}

.eba-header .eba-logo {
    margin-top: 3px;
    margin-right: 80px
}

.top-menu {
    float: left;
    width: auto;
}

.top-menu-link {
    display: block;
    padding: 11px 2px;
    color: #FFF;
}

.top-menu-link:hover {
    color: #fff176;
    text-decoration: none;
}

.top-content-search-form {
    display: none;
}

.user-tools-area {
    float: right;
    width: auto;
    font-family: 'Roboto', sans-serif;
}

.user-tools-area ul {
    margin-bottom: 0;
}

.user-tools-link {
    position: relative;
    display: inline-block;
    padding: 13px 2px;
    color: #FFF;
    vertical-align: middle;
}

.user-tools-link.add-content-btn {
    padding: 4px 12px;
    border-radius: 20px;
    background-color: #FF9900;
}

.user-tools-link.add-content-btn:hover {
    text-decoration: none;
    background-color: #fff176;
    color: #515151;
}

.user-tools-link i {
    font-size: 20px;
}

.user-tools-link:hover i {
    color: #fff176;
}

.notice-badge {
    position: absolute;
    top: 3px;
    right: 0;
    min-width: 15px;
    height: 15px;
    padding: 3px;
    font-size: 10px;
    line-height: 1;
    color: #FFF;
    background-color: #F44336;
    border-radius: 20px;
}

.user-tools-link.user-profile-btn {
    width: 38px;
    height: 38px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0;
}

.user-tools-link.user-profile-btn:hover {
    background-color: rgba(255, 241, 118, 0.5);
    border: 1px solid rgba(255, 241, 118, 0.5);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    padding: 0;
    transition: all .1s;
}

.user-tools-link.user-profile-btn img {
    width: 36px;
    height: 36px;
    border-radius: 20px;
    padding: 0;
}

#user-dropdown-menu .dropdown-menu {
    left: auto;
    right: 0;
}

.lesson-bar {
    height: 96px;
    background-color: #FFF;
}

.date-and-package-list {
    float: left;
    height: 96px;
}

.lesson-date {
    float: left;
    width: auto;
    border-right: 1px solid #C1C1C1;
    padding: 10px 15px 0 0;
    height: 62px;
    margin-top: 18px;
}

.current-day-number {
    float: left;
    font-size: 62px;
    font-weight: 300;
    margin-right: 10px;
    line-height: 1;
}

.current-day-other {
    float: left;
    font-size: 16px;
    margin-top: 7px;
}

.current-month-year {
    color: #B1B1B1;
    font-weight: 300;
    line-height: 1.4;
}

.current-day-name {
    color: #919191;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
}

.lesson-package-list {
    height: 62px;
}

.lesson-package-list-area {
    float: left;
    width: 555px;
    height: 62px;
    margin: 18px 0 0 20px;
}

.lesson-package-link {
    display: block;
    width: 60px;
    height: 40px;
}

.lesson-package-link:hover {
    text-decoration: none;
}

.lesson-package-name {
    font-size: 10px;
    font-weight: 300;
    color: #616161;
}

.lesson-package-thumb {
    position: relative;
    width: 60px;
    height: 40px;
    background-color: #e1e1e1;
}

.lesson-package-thumb img {
    width: 60px;
    height: 40px;
}

.lesson-package-thumb:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .05);
    z-index: 1;
}

.lesson-package-link:hover .lesson-package-thumb {
    opacity: .8;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}

.lesson-package-link:hover .lesson-package-thumb:after {
    background-color: rgba(0, 0, 0, 0);
}

.lesson-package-link:hover .lesson-package-name {
    color: #919191;
}

.lesson-package-list-area .active-package {
    position: relative;
}

.lesson-package-list-area .active-package:after {
    content: '';
    position: absolute;
    bottom: -46px;
    left: 50%;
    margin-left: -14px;
    width: 0;
    height: 0;
    border-bottom: solid 14px #6699FF;
    border-left: solid 14px transparent;
    border-right: solid 14px transparent;
}

.lesson-code-and-menu-area {
    float: right;
    height: 96px;
}

.lesson-code-title {
    float: left;
    width: auto;
    height: 96px;
    margin-right: 10px;
    padding: 38px 0;
    font-size: 16px;
    font-weight: 100;
    color: #C1C1C1;
    vertical-align: middle;
}

.lesson-code {
    float: left;
    margin-right: 10px;
    padding-top: 24px;
    font-size: 72px;
    font-weight: 100;
    line-height: 1;
    color: #7E57C2;
}

.classroom-menu {
    float: right;
    padding-top: 66px;
}

.classroom-menu-link i {
    font-size: 20px;
    color: #919191;
}

.classroom-menu-link:hover i {
    color: #313131;
}

.package-player-area {
    min-height: 200px;
    background-color: #6699FF;
    padding: 30px 0;
}

.package-player-area .package-slide-dots {
    display: none;
}

.package-content-list-area {
    position: relative;
    float: left;
    width: 450px;
    height: 380px;
    margin: 10px -10px 10px 0;
    padding-right: 10px;
    z-index: 1;
    background-color: #FAEEDE;
}

.package-content-title {
    height: 45px;
    margin: 0;
    padding: 10px 15px;
    font-size: 22px;
    font-weight: 300;
    border-bottom: 1px solid #e1e1e1;
}

.package-content-list {
    height: 290px;
    overflow-y: auto;
    border-bottom: 1px solid #e1e1e1;
}

.package-content-item {
    overflow: hidden;
    margin-bottom: 1px;
}

.package-content-item:hover {
    background-color: rgba(0, 0, 0, .1);
}

.active-content-item {
    background-color: rgba(0, 0, 0, .6);
}

.active-content-item:hover {
    background-color: rgba(0, 0, 0, .6);
}

.active-content-item .package-content-item-title,
.active-content-item .package-content-item-type {
    color: #EEE;
}

.active-content-item:hover .package-content-item-title,
.active-content-item:hover .package-content-item-type {
    color: #EEE;
}

.package-content-item-link {
    display: block;
    height: 50px;
    padding: 5px 15px;
    color: #515151;
}

.package-content-item-link:hover {
    text-decoration: none;
    color: #313131;
}

.package-content-item-thumb {
    position: relative;
    float: left;
    display: block;
    width: 60px;
    height: 40px;
    margin-right: 15px;
}

.package-content-item-title {
    margin-top: 2px;
    margin-bottom: 3px;
    max-height: 28px;
    font-size: 15px;
    font-weight: 300;
}

.package-content-item-type {
    display: block;
    height: 14px;
    font-size: 12px;
    font-weight: 100;
}

.send-classroom-btn {
    display: inline-block;
    width: 120px;
    height: 28px;
    margin: 9px 10px;
    padding: 4px 0;
    text-align: center;
    color: #FFF;
    font-weight: 300;
    border-radius: 20px;
    background-color: #FF9900;
}

.send-classroom-btn:hover {
    text-decoration: none;
    color: #FFF;
    background-color: #81BB41;
}

.package-player {
    position: relative;
    float: left;
    width: 700px;
    height: 400px;
    overflow: hidden;
    z-index: 2;
    background-color: black;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .8)
}

.package-player-controls {
    position: relative;
}

.package-player-prev-btn {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 360px;
}

.package-player-prev-btn .arrows {
    display: block;
    width: 60px;
    height: 60px;
    margin-left: -15px;
    background-color: rgba(255, 153, 0, 0.5);
    text-align: center;
    line-height: 70px;
}

.package-player-next-btn .arrows {
    display: block;
    width: 60px;
    height: 60px;
    margin-left: -15px;
    background-color: rgba(255, 153, 0, 0.5);
    text-align: center;
    line-height: 70px;
}

.package-player-prev-btn .prev {
    margin-left: -15px;
}

.package-player-next-btn {
    position: absolute;
    z-index: 100;
    right: 0;
    top: 360px;
}

.package-player-next-btn .next {
    margin-right: -15px;
}

.package-player-controls i {
    font-size: 24px;
    font-weight: thin;
    color: #fff;
}

.package-player-controls .arrows {
    border: none;
}

.package-player-controls .arrows:hover {
    background-color: #FF9900;
    box-shadow: 1px 1px 15px #5B7272;
}

.full-screen-player .package-player {
    position: relative;
    float: left;
    width: 1140px;
    height: 600px;
    overflow: hidden;
    z-index: 2;
    background-color: black;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .8)
}

.full-screen-player .package-content-list-area {
    display: none;
}

.full-screen-player .package-player label {
    position: absolute;
    top: -50%;
    padding: 13px;
    box-shadow: inset 2px -2px 0 1px #3a3a3a;
}

.full-screen-player .package-slide-dots {
    display: block;
    width: 1140px;
    margin-top: -24px;
}

.full-screen-player .package-slide-dots ul {
    text-align: center;
    margin: 0;
}

.full-screen-player .package-slide-dots li {
    display: inline-block;
}

.full-screen-player .package-slide-dots li a {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px 0 5px;
    text-decoration: none;
    background-color: #1B1A59;
    opacity: 0.5;
}

.full-screen-player .package-slide-dots li a:hover {
    background-color: #FF9900;
    opacity: 1;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.package-content-detail {
    position: relative;
}

.package-content-detail-topic {
    float: left;
}

.package-content-detail-topic span {
    float: left;
}

.package-content-detail-topic span:first-child {
    font-weight: 500;
    margin-right: 5px;
}

.package-content-detail-topic .seperator {
    display: none;
    font-weight: 500;
}

.package-content-detail-topic span:last-child {
    display: none;
    font-weight: 200;
    margin-left: 5px;
    font-size: 14px;
}

.package-content-detail-topic img {
    width: 36px;
    height: 36px;
}

.package-content-detail-topic span {
    font-weight: 400;
    display: block;
    margin-top: 10px;
    color: #fff;
}

.package-content-detail-button {
    width: 36px;
    position: absolute;
    left: 50%;
    top: 10px;
    height: 36px;
    margin-left: -18px;
    border-radius: 50px;
}

#detail-toggle-btn {
    background: none;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    border: 2px solid #fff;
    line-height: 1;
}

.package-content-detail-button i {
    color: #fff;
    outline: 0;
    font-size: 16px;
}

.package-content-detail-button span i {
    position: absolute;
    top: 5px;
    margin-left: 4px;
}

.package-content-send-btn {
    float: right;
    margin-top: 5px;
}

.package-content-comments {
    display: none;
}

.package-content-comments .col-sm-2 {
    border: 1px solid #ccc;
}

.package-content-comments .col-sm-3 {
    border: 1px solid #ccc;
}

.package-content-comments .col-sm-4 {
    border: 1px solid #ccc;
}

.package-content-comments .col-sm-9 {
    border: 1px solid #ccc;
}

.content-search-bar {
    height: 60px;
    border-bottom: 2px solid #81BB41;
}

.content-search-form {
    float: left;
    width: 300px;
    margin: 10px 0;
}

.package-content-comments {
    height: 300px;
}

.package-rating-bars {
    float: left;
    margin-left: 50px;
}

.package-rating-bars span {
    display: block;
    margin-bottom: 2px;
    width: 200px;
    height: 2px;
    background-color: #000;
}

.package-rating-bars span:nth-child(odd) {
    background-color: #FF9900;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-bottom: 3px;
}

.package-rating-bars span:nth-child(even) {
    background-color: #30edf2;
    border-top-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-bottom: 10px;
}

.comments-section {
    width: 80%;
    float: left;
}

.comment-box {
    display: inline-block;
    width: 340px;
    margin-right: 20px;
    padding: 10px;
}

.comment-user-pic {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.comment-user-pic img {
    border-radius: 20px;
    background: #FFF;
    width: 40px;
    height: 40px;
}

.comment-user-info {
    float: left;
    margin-left: 15px;
}

.comment-user-info a {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
}

.comment-user-rating {
    float: right;
    font-size: 12px;
    font-weight: 400;
}

.comment-user-rating ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comment-user-rating ul li {
    display: inline-block;
}

.comment-user-rating ul li i {
    color: yellow;
    font-size: 12px;
}

.comment-user-content {
    margin-left: 65px;
    margin-top: -15px;
    font-weight: 500;
    font-size: 13px;
}

.comment-edit-area {
    float: right;
}

.package-rating {
    margin-bottom: 30px;
    float: left;
}

.package-rating div {
    margin-bottom: 10px;
}

.package-rating span {
    color: #fff;
    font-size: 12px;
}

.package-rating span:hover {
    color: #FF9200;
}

.package-rating ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.package-rating ul li {
    display: inline-block;
}

.package-rating ul li i {
    color: yellow;
    font-size: 20px;
}

#custom-search-input {
    position: relative;
    float: left;
}

#custom-search-input input {
    float: left;
    width: 300px;
    padding-right: 40px;
    margin-top: 15px;
    font-size: 18px;
    color: #212121;
    border: 0;
    background-color: #E1E1E1;
    box-shadow: inset 0px 5px 0px rgba(145, 145, 145, 0.5);
}

#custom-search-input button {
    position: absolute;
    right: 2px;
    top: 15px;
    margin: 0;
    padding: 6px 10px;
    color: #919191;
    border: 0;
    background: none;
    box-shadow: none;
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: 0;
}

#custom-search-input i {
    font-size: 23px;
}

#content-search-input {
    height: 40px;
}

.content-search-filter {
    float: left;
    width: auto;
}

.content-search-filter button {
    position: relative;
    top: 15px;
    left: 10px;
    padding: 0 18px;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 20px;
    outline: 0;
}

.content-search-filter button:hover {
    color: #0000FF;
    outline: 0;
}

.content-search-type {
    float: left;
    width: auto;
    padding-top: 20px;
}

.content-search-type-list {
    list-style: none;
}

.content-search-type-list li {
    display: inline-block;
}

.content-search-type-list li a {
    padding: 5px 5px;
    text-decoration: none;
    color: #C0C0C0;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
}

.content-search-type-list li a.active {
    color: #0000FF;
    font-weight: 500;
}

.content-search-type-list li a:hover {
    color: #0000FF;
}

.content-search-total-results {
    float: right;
    width: auto;
    padding-top: 20px;
    color: #C0C0C0;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.content-search-total-results i {
    padding: 0 5px;
}

.search-content-results-list h3 {
    font-family: "Roboto Slab";
    font-size: 18px;
    margin-top: 30px;
}

.search-content-results {
    width: auto;
    line-height: 1;
}

#search-content-results-items {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.search-content-results-item {
    float: left;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 15px;
    box-shadow: 0 0 5px #ccc;
    background-color: #fff;
    padding-bottom: 5px;
}

.search-content-results-item:hover img {
    opacity: 0.8;
}

.search-content-results-item img {
    display: block;
    width: 100%;
    height: 150px;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
}

.search-content-results-item p {
    color: #2e7d32;
    padding: 10px 10px 0 10px;
}

.search-content-results-item p:hover {
    color: #000;
}

.search-content-results-item .added-person {
    font-weight: bold;
    font-size: 11px;
    padding: 0 2px 10px 10px;
}

.search-content-results-item .added-date {
    font-size: 11px;
    padding: 0 10px 10px 2px;
}

.footer-widget {
    background-color: #212121;
    margin-top: 50px;
    padding: 20px;
}

.footer-widget .col-sm-3 h2 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #bdbdbd;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}

.footer-social-icon {
    width: auto;
    margin-top: 30px;
}

.footer-social-icon ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-social-icon ul li {
    display: inline-block;
    margin-right: 5px;
}

.footer-widget .col-sm-2 {
    padding-top: 20px;
}

.footer-widget .col-sm-2 h2 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #9e9e9e;
    font-weight: 600;
    margin-bottom: 3px;
}

.footer-widget-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-widget-list a {
    display: block;
    color: #424242;
    margin-bottom: 1px;
    font-weight: 300;
    font-size: 13px;
    text-decoration: none;
}

.footer-widget-list a:hover {
    color: #e91e63;
}

#pull {
    display: none;
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {
    .eba-header .eba-logo {
        margin-right: 20px;
    }
    .eba-header .nav>li>a {
        padding-right: 7px;
        padding-left: 7px;
    }
    .user-tools-area .list-inline>li {
        padding-right: 3px;
        padding-left: 3px;
    }
    .lesson-code-and-menu-area {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .top-content-search-form {
        display: inline-block;
        margin-left: 60px;
        margin-top: -10px;
    }
    .custom-navbar .navbar-right {
        float: right;
        padding-right: 15px;
    }
    .custom-navbar .nav.navbar-nav.navbar-right li {
        float: right;
    }
    .custom-navbar .nav.navbar-nav.navbar-right li>a {
        padding: 8px 5px;
    }
    .custom-navbar .navbar-toggle {
        float: left
    }
    .custom-navbar .navbar-header {
        float: left;
        width: auto!important;
    }
    .custom-navbar .navbar-collapse {
        clear: both;
        float: none;
    }
    .add-content-btn-area {
        display: none !important;
    }
}

@media only screen and (max-width: 479px) {}

@media (min-width: 1200px) {}

@media (min-width: 992px) and (max-width: 1199px) {
    .lesson-package-list-area {
        width: 360px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 767px) {
    .navbar {
        border-radius: 0px;
    }
}

@media (max-width: 480px) {}